<section class="bg-success py-5">
  <div class="container">
    <div class="row align-items-center py-5">
      <div class="col-md-8 text-white">
        <h1>About Us</h1>
        <p>
          StartupsJo "Your Gateway to the Jordanian Entrepreneurship Ecosystem"
          is Jordans’ destination for startups, investors, and support
          ecosystems. Supported by The Innovative Startups and SMEs Fund (ISSF)
          and managed by the Information and Communications Technology
          Association (int@j),
        </p>
        <p>
          StartupsJo objective is to connect entrepreneurs, investors, and other
          ecosystem players in Jordan with each other while providing digital
          tools and training on starting and doing business to improve the
          “Investment Readiness” of entrepreneurs and ultimately, increase deal
          flow.
        </p>
      </div>
      <div class="col-md-4">
        <img src="assets/langing/img/about.png" alt="About Hero" />
      </div>
    </div>
  </div>
</section>
<!-- Close Banner -->

<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 pt-5">
        <h2 class="h2 text-success border-bottom pb-3 border-light logo">
          Startup JO
        </h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li>
            <i class="fas fa-map-marker-alt fa-fw"></i>
            433 Consectetur at Jordan 10660
          </li>
          <li>
            <i class="fa fa-phone fa-fw"></i>
            <a class="text-decoration-none" href="tel:010-020-0340"
              >+962770259858</a
            >
          </li>
          <li>
            <i class="fa fa-envelope fa-fw"></i>
            <a class="text-decoration-none" href="mailto:info@company.com"
              >info@company.com</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">
          Type Of Startup
        </h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="#">DATA </a></li>
          <li><a class="text-decoration-none" href="#">GAMING</a></li>
          <li><a class="text-decoration-none" href="#">FINTECH</a></li>
          <li><a class="text-decoration-none" href="#">RETAIL</a></li>
          <li><a class="text-decoration-none" href="#">DATA & AI & ML</a></li>
          <li><a class="text-decoration-none" href="#">Media & Design</a></li>
          <li><a class="text-decoration-none" href="#">Cyber Security</a></li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">
          Further Info
        </h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" routerLink="home">Home</a></li>
          <li>
            <a class="text-decoration-none" routerLink="about">About Us</a>
          </li>
          <li>
            <a class="text-decoration-none" routerLink="startup">StartUp</a>
          </li>
          <li>
            <a class="text-decoration-none" routerLink="contact">Contact</a>
          </li>
          <li><a class="text-decoration-none" routerLink="login">Login</a></li>
        </ul>
      </div>
    </div>

    <div class="row text-light mb-4">
      <div class="col-12 mb-3">
        <div class="w-100 my-3 border-top border-light"></div>
      </div>
      <div class="col-auto me-auto">
        <ul class="list-inline text-left footer-icons">
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="http://facebook.com/"
              ><i class="fab fa-facebook-f fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://www.instagram.com/"
              ><i class="fab fa-instagram fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://twitter.com/"
              ><i class="fab fa-twitter fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://www.linkedin.com/"
              ><i class="fab fa-linkedin fa-lg fa-fw"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="subscribeEmail">Email address</label>
        <div class="input-group mb-2">
          <input
            type="text"
            class="form-control bg-dark border-light"
            id="subscribeEmail"
            placeholder="Email address"
          />
          <div class="input-group-text btn-success text-light">Subscribe</div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 bg-black py-3">
    <div class="container">
      <div class="row pt-2">
        <div class="col-12">
          <p class="text-left text-light"></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
